<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">name</th>
        <th scope="col">nbr</th>
        <th scope="col">poste</th>
        <th scope="col">age</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players">
        <th scope="row">{{player.id}}</th>
        <td>{{player.name}}</td>
        <td>{{player.nbr}}</td>
        <td>{{player.poste}}</td>
        <td>{{player.age}}</td>
        <td>
            <button type="button" class="btn btn-primary"(click)="gotodisplay(player.id)">display</button>
            <button type="button" class="btn btn-secondary">edit</button>
            <button type="button" class="btn btn-success">delete</button>
        </td>
     </tr>
    </tbody>
  </table>